{% extends "layout.html" %}

{% block title %}
Chai stores page
{% endblock %}

{% block content %}
<h1>test content for froms </h1>
<h2>that us page..</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod molestiae, labore aperiam quasi, illo expedita possimus vitae sequi harum voluptates impedit, incidunt provident reprehenderit corrupti. At nemo recusandae porro atque. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus nobis assumenda, fugit nemo sint velit quis dolore non. Ipsa possimus reiciendis nostrum saepe natus quia quod facere ipsum in. Voluptatem!</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Search Store</button>
</form>

{% if stores %}
<h2>Stores available</h2>
<h3>This is good for you</h3>
<ul>
    {% for store in stores %}
    <li>{{ store.name }} - {{ store.location }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}