{% extends "layout.html" %}

{% block title %}
Chai stores page
{% endblock %}

{% block content %}
<h1>test content for froms </h1>
<h2>that us page..</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod molestiae, labore aperiam quasi, illo expedita possimus vitae sequi harum voluptates impedit, incidunt provident reprehenderit corrupti. <i>At nemo recusandae porro atque.</i> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus nobis assumenda, fugit nemo sint velit quis dolore non. Ipsa possimus reiciendis no reprehenderit rerum recusandae sit, voluptas, quaerat quis minima maxime sequi fugit facere nemo? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque temporibus natus perspiciatis enim accusamus sequi corporis quam quos. Nostrum esse voluptates vero? Eligendi dolore laudantium accusantium unde? Consequuntur, laudantium laboriosam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio fugiat esse fugit quas doloremque, ad sapiente eos perferendis ipsa in asperiores magni expedita, id, perspiciatis assumenda? Tempora repellendus quasi molestias.</p>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Search Store</button>
</form>

{% if stores %}
<h2>Stores available</h2>
<h3>This is good for you</h3>
<ul>
    {% for store in stores %}
    <li>{{ store.name }} - {{ store.location }}</li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}