{% extends "layout.html" %}

{% block title %}
Chai page
{% endblock %}

{% block content %}
<h1>Chai our Code | Home Page..</h1>
<h2>welcome to home..</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut ea, exercitationem, necessitatibus corrupti assumenda officia sed minus reprehenderit repellendus adipisci non veritatis, distinctio placeat nihil modi ab magnam dignissimos dolorum?</p>
<div>
    {% for chai in chais %}
    <div>
        <img src="{{chai.image.url}}" alt="">
        <a href="{% url 'chai_detail' chai.id %}">
        </a>
        <button>
            {{chai.type}} - {{chai.id}}
        </button>   
    </div>
    {% endfor %}
</div>
{% endblock %}