{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about rahul</title>
    <link rel="stylesheet" href="{% static 'stayle.css' %}">
</head>
<body>
    <h1>hello to all from about rahul ..</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, atque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi atque veniam unde nihil, suscipit harum sit nulla iure assumenda repellendus?</p>
</body>
</html>